.desktop-background,
.desktop-coverflow {
    draw-background: 1;
    bg-color: #000000;
}

.desktop-author,
.desktop-description {
    font-name: '%(path)s/data/stonsans.ttf';
    color: #999999;
}

.desktop-title {
    font-name: '%(path)s/data/BRI293.TTF'
    font-size: 54;
}
