* {
    /* foreground/text color */
    color: rgb(240, 240, 240);

    /* color when something is pushed TODO: change everywhere this is used,
	 * because it will be foreground color when state is down */
    color-down: rgba(50, 50, 50, 200);

    /* new way of background color when something is pushed*/
    bg-color-down: rgba(150, 150, 150, 200);

    /* background color of widget */
    bg-color: rgba(100, 100, 100, 200);

    /* fonts */
    font-size: 12;
    font-name: 'DejaVuSans.ttf';
    font-weight: normal; /* normal, bold, italic, bolditalic */


    /* borders */
    border-width: 1;
    border-radius: 0;
    border-radius-precision: 1;
    draw-border: 0;

    /* background alpha layer */
    draw-background: 1;
    draw-alpha-background: 0;
    alpha-background: 1 1 0.75 0.75;

    /* text shadow */
    draw-text-shadow: 0;
    text-shadow-color: rgba(110, 110, 110, 80);
    text-shadow-position: -1 1;
}

/* special case for label, label support padding
 */
label {
	padding: 0;
	color: rgb(240, 240, 240);
}

widget,
label {
    draw-background: 0;
}

vectorslider {
    slider-color: rgba(255, 71, 0, 255);
    bg-color: rgba(60, 60, 60, 100);
}

display {
    /* color of touch */
    touch-color: rgba(255, 0, 0, 255);
}

button,
colorpicker,
flippablewidget,
form,
popup,
vkeyboard {
    border-color: rgb(130, 130, 130);
    border-color-down: rgb(0, 180, 250);
    color: rgb(230, 230, 230);
    color-down: rgb(255, 255, 255);
    bg-color-down: rgba(0, 80, 160, 240);
    draw-border: 1;
    draw-background: 1;
    draw-alpha-background: 1;
}

textinput {
    color: rgb(0,0,0);
    font-size: 16;
    font-weight: bold;
    bg-color: rgba(240, 240, 240, 240);
    bg-color-active: rgb(250, 250, 250);
    bg-color-error: rgb(255, 100, 100);
    draw-alpha-background: 0;
    border-width: 1;
    border-color: rgb(100,100,100);
    border-radius-precision: 1;
    draw-border: 1;

}

formslider,
slider,
xyslider,
vectorslider,
multislider,
boundaryslider,
sidepanel,
circularslider {
    draw-background: 1;
    padding: 8;
    slider-color: rgb(68, 170, 0);
    slider-color-down: rgb(68, 170, 0);
    draw-slider-border: 0;
    slider-border-radius: 0;
    slider-border-radius-precision: 1;
    draw-slider-alpha-background: 1;
    slider-alpha-background: 1 1 .5 .5;
    slider-draw-background: 1;
}

circularslider {
    draw-background: 0;
}

fileentryview {
    item-selected: rgb(255, 100, 0, 200);
    border-radius: 8;
    border-radius-precision: .5;
}

kineticcontainer {
    bg-color: rgba(90, 90, 0, 255);
}

kineticitem {
    color: rgb(255, 255, 255);
}

kineticlist {
    draw-background: 1;
    title-draw-background: 1;
    title-color: rgb(127, 127, 127);
    draw-title-border: 0;
    title-border-radius: 0;
    title-border-radius-precision: 1;
    draw-title-alpha-background: 0;
    title-alpha-background: 1 1 .5 .5;
    scrollbar-size: 3;
    scrollbar-color: rgba(127, 127, 127, 127);
    scrollbar-margin: 3 3 3 0;
	bg-color: rgb(180, 180, 182);
}

.kineticlist-search {
    /* kinetic search button */
    bg-color: rgba(0, 255, 0, 127);
    alpha-background: 1 1 .7 .7;
    draw-alpha-background: 1;
}

.kineticlist-delete {
    /* kinetic delete button */
    bg-color: rgba(255, 0, 0, 127);
    alpha-background: 1 1 .7 .7;
    draw-alpha-background: 1;
}

innerwindowcontainer,
basewindow,
window {
    bg-color: rgb(50, 50, 50);
    draw-alpha-background: 0;
    alpha-background: 0.8 0.8 0.0 0.0;
    draw-background: 1;
}

modalwindow {
    draw-background: 1;
    bg-color: rgba(0, 0, 0, 200);
}

innerwindow {
    bg-color: rgba(255, 255, 255, 175);
    bg-color-move: rgba(0, 175, 0, 175);
    bg-color-full: rgba(175, 0, 0, 175);
    border-width: 30;
}

vectorslider,
objectdisplay {
    draw-background: 1;
    vector-color: rgb(255, 255, 255);
}

vkeyboard {
    /* onboard keyboard */
    border-color: rgb(100, 100, 100);
    border-radius: 15;
    border-radius-precision: 0.35;
    border-width: 1.5;
    color: rgb(50, 50, 50);
    color-syskey: rgb(200, 200, 200);
    draw-border: 1;
    draw-key-alpha-background: 1;
    draw-key-border: 1;
    key-alpha-background: 1 1 .7 .7;
    key-border-color: rgb(60, 60, 60);
    key-border-radius: 5;
    key-border-radius-precision: 0.35;
    key-color: rgba(210, 210, 210, 255);
    key-color-down: rgba(200, 200, 200, 255);
    key-draw-background: 1;
    key-draw-border: 0;
    margin: 10 50 10 50;
    syskey-color: rgba(44, 75, 119, 255);
}

modalpopup,
popup {
    /* popup widget */
    bg-color-full: rgba(200, 200, 200, 100);
    border-radius: 5;
    alpha-background: 1 1 .7 .7;
    draw-alpha-background: 1;
    draw-border: 1;
    draw-background: 1;
}

.modalpopup-submit,
.modalpopup-title {
    bg-color: rgba(200, 200, 200, 100);
    alpha-background: .9 .9 .8 .8;
    draw-alpha-background: 1;
    draw-background: 1;
    font-size: 12;
    border-radius: 5;
    border-precision: 1;
}

.modalpopup-title,
.popup-title {
	color: rgb(255, 255, 255);
    font-size: 12;
	padding: 10;
}

video {
    bg-color: rgba(100, 100, 100, 220);
    draw-alpha-background: 1;
    alpha-background: 1 1 0.2 0.2;
    border-radius: 8;
}

.video-toggleplay,
.video-togglemute,
.video-timeline {
    bg-color: rgba(100, 100, 100, 220);
    slider-color: rgba(255, 127, 0, 200);
    draw-slider-alpha-background: 1;
    slider-alpha-background: 1 1 .6 .6;
    slider-border-radius: 8;
	draw-border: 0;
	draw-alpha-background: 0;
}

coverflow {
    bg-color: rgba(255,255,255,255);
}

touchring {
	color: rgb(255, 255, 255, 200);
}

.switch-button {
    draw-border: 0;
}

spellvkeyboardlabel {
	draw-border: 1;
	border-radius: 5;
	draw-alpha-background: 1;
	alpha-background: .8 .8 .7 .7;
	border-radius-precision: .25;
}

